<!doctype html>
<html>
<head>
<title>Trevor</title>
</head>
<style>
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
</style>
<body>
<div class=page>
  <h1>Trevor</h1>
  <h2>Parameters</h2>
  <form action="/run" method="post">
    <dl>
      <dt>Disease
      <dd><input type=text name=disease>
      <dt>Number of articles to crawl:
      <dd><input type=text name=num_articles>
      <dt>Number of words to display:
      <dd><input type=text name=num_words>
      <dd><input type=submit value=Run>
    </dl>
  </form>
</body>
</html>
